# Dependencias
node_modules/

# Variables de entorno
.env
.env

# Unity
BombermanTR3/Library/
BombermanTR3/Temp/
BombermanTR3/Logs/
BombermanTR3/obj/
BombermanTR3/.vs/
BombermanTR3/Build/
BombermanTR3/*.suo
BombermanTR3/*.userprefs

# Unity generated
BombermanTR3/Assembly-CSharp.csproj
BombermanTR3/BombermanTR3.slnx
BombermanTR3/UserSettings/
tr3-joc-fionamondelo.sln